html, body {
	width: 300px;
	height: 400px;
	font-family: "Helvetica Neue", arial, sans-serif;
	margin: 0;
	padding: 1px;
	border-radius: 5px;
	background: #eee;
}

#left {
	width: 50px;
	height: 100%;
	float: left;
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#2c2626) , to(#483a3a));
	border-radius: 5px 0px 0px 5px;
}

#logo {
	width: 50px;
	height: 50px;
	background: url('logo.jpg');
	border-radius: 5px 0px 0px 0px;
	border-bottom: 3px solid #e0e0e0;
}

#left ul {
	list-style: none;
	margin: 10px;
	padding: 0;
}

#left ul li {
	width: 30px;
	height: 30px;
	margin: 7px 0px 15px;
	background: #ccc;
	cursor: pointer;
	opacity: 0.6;
	-webkit-transition: 0.2s opacity;
	position: relative;
}

#left ul li#inbox {
	background: url('assets/inbox.png');
}
#left ul li#notifs {
	background: url('assets/notifs.png');
}
#left ul li#new {
	background: url('assets/new.png');
}

#left ul li span {
	background: #a82400;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 9px;
	padding: 1px 3px;
	color: white;
	border-radius: 5px;
	border: 1px solid #eee;
}

#left ul li:hover {
	opacity: 1.0
}

#right {
	width: 246px;
	margin-right: 1px;
	float: right;
}

#searchbar {
	background: #ccc;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
}

#searchbar input {
	font-size: 15px;
	border: 1px solid #a9a9a9;
	box-sizing: border-box;
	padding: 8px;
	width: 100%;
	font-family: "Helvetica Neue", arial, sans-serif;
	outline: none;
}

#content {
	padding-right: 3px;
	margin-top: 3px;
	height: 345px;
	overflow-y: scroll;
	color: #333;
}

#welcome {
	padding: 10px;
}

#welcome h1 {
	margin: 10px 0 0 0;
	font-size: 25px;
	color: #406ea2;
}

#welcome p{
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 14px;
}

#search_results ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}

#search_results ul li {
}

#search_results ul li > a {
	font-size: 13px;	
	line-height: 18px;
	padding: 3px 5px;
	margin-bottom: 3px;
	text-decoration:  none;
	color: inherit;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	position: relative;
	-webkit-transition: 0.1s background, 0.1s border;
}

#search_results ul li > a:hover, #search_results ul li > a.active {
	background: #e0e8ef;
	opacity: 1.0;
	border: 1px solid #a1b4c7;
}
#search_results ul li:last-of-type > a {
	margin-bottom: 0;
}

#search_results ul li > a div {
	display: inline-block;
}

#search_results ul li > a div span.o.match {
	font-weight: bold;
}

/* Don't need hint text like "Matched topic alias" */
#search_results ul li > a div.text span.faded{
	display: none;
}

#search_results ul li > a div span.faded.desc {
	text-transform: uppercase;
	color: #bbb;
	font-size: 10px;
}

/* Add question button */
#search_results ul li > a span.submit_button {
	float: right;
	display: inline-block;
	font-size: 11px;
	line-height: 17px;
	padding: 0px 10px;
	border: 1px solid #8cb332;
	border-bottom-color: #648517;
	background: -webkit-linear-gradient(#c3dd82 0%, #AEC969 100%);
	border-radius: 3px;
	color: #648517;

	-webkit-transition: 0.3s opacity;
}
#search_results ul li > a span.submit_button:hover {
	opacity: 0.8;
}

/* Quora likes to add margin to take care of alignment with pic. Ignore that */
#search_results ul li > a > div > span > div {
	margin-top: 0 !important;
}

#search_results ul li > a > div div.pic {
	position: absolute;
	right: 5px;
}

#search_results ul li.results-header {
	font-weight: bold;
	text-transform: uppercase;
	color: #406ea2;
	padding-left: 5px;
	font-size: 13px;
}
#notifs_display ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#notifs_display ul li {
	background: #fff;
	border: 1px solid #ddd;
	padding: 7px;
	margin-bottom: 3px;
	font-size: 13px;
}

#notifs_display ul li#more_notifs_link {
	text-align: right;
	font-weight: bold;
}

#inbox_display h1 {
	font-weight: bold;
	color: #406ea2;
	font-size: 16px;
	margin: 0;
}

#inbox_display h1 span {
	display: inline-block;
	float: right;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	width: 14px;
	height: 14px;
	margin-top: 2px;
	border: 1px solid #8cb332;
	border-bottom-color: #648517;
	background: -webkit-linear-gradient(#c3dd82 0%, #AEC969 100%);
	border-radius: 3px;
	color: #648517;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	-webkit-transition: 0.3s opacity;
}
#inbox_display h1 span:hover {
	opacity: 0.8;
}
#inbox_display .pagedlist_item, #inbox_display #inbox_link {
	background: #fff;
	border: 1px solid #ddd;
	padding: 7px;
	margin-top: 3px;
	font-size: 13px;
	padding: 5px;
}
#inbox_display #inbox_link {
	font-weight: bold;
	text-align: right;
}
#inbox_display .pagedlist_item div.pic {
	width: 45px;
	height: 100%;
	float: left;
	margin-right: 5px;
}

#inbox_display .pagedlist_item div.pic img {
	width: 45px !important;
	height: 45px !important;	
}

#inbox_display .pagedlist_item div.inbox_message_title a {
	color: #000;
}
#inbox_display .pagedlist_item div.timestamp_wrapper {
	float: right;
	font-size: 10px;
	color: #bbb;
}

.display {
	padding: 3px;
}

.display p {
	font-size: 13px;
	margin-left: 10px;
}
.hidden {
	display: none;
}

a {
	outline: none;
	color: #406ea2;
	text-decoration: none;
	-webkit-transition: 0.15s opacity;
}

a:hover {
	opacity: 0.8;
}

.clear {
	clear: both;
}